<a href="#/new/site">Add New Site</a>
<h2>Public Art Sites</h2>

<button class="btn btn-default" ng-click="medium='mural'">Murals</button> 
<button class="btn btn-default" ng-click="medium='sculpture'">Sculptures</button>
<button class="btn btn-default" ng-click="medium=''">Everything</button>


<div class="site-entry" ng-repeat="site in sites | orderBy: 'name' | filter: { type: medium } ">
	<a href="#/site/{{ site._id }}">{{ site.name }}</a>
	<br>
	<div class="thumbnail-small" 
		ng-repeat="photo in photos | filter: { site_id: site._id }">
		<div style="background-image: url('{{ photo.image.items[2].file_path }}');"></div>
	</div>
</div>